{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ posted }}</title>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <link href={% static "css/font-awesome.css" %} rel="stylesheet" type="text/css">
    <link href={% static "css/main.css" %} rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/config.js" %}"></script>
</head>

<body>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Admin Portal</a></li>
  <li role="presentation" class="active"><a href="/config">Configuration</a></li>
  <li role="presentation"><a href="/student">User Portal</a></li>
</ul>

<div class="col-md-12">
    <br>
    <img src={% static 'img/webtitle.png' %}/>
    <br><br>
</div>

{% if error %}
<div class="col-md-12">
  <div class="alert alert-danger">
    <strong> Error: </strong> {{ error }} 
  </div>
</div>
{% endif %}

<form action="configedit" id="config" method="post" enctype="multipart/form-data">{% csrf_token %}

<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">Configuration File</div>
    <div class="panel-body"> 
        Upload a JSON file to specify the image configuration.
    <br><br>
        <div class="input-group">
          <input type="text" class="form-control" id="packagefile" readonly>
      <label class="input-group-btn">
            <span class="btn btn-primary" id="filebutton">
                Open<input id="fileselect" type="file" name="fileselect" style="display:none;">
            </span>
          </label>
        </div>
  </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Configuration Settings</div>
        <div class="panel-body"> Make changes below to your configuration settings.
        <br><br>
        <div class="form-group">
            <textarea class="form-control" rows="10" id="configinput" name="configinput"></textarea>
        </div>
        </div>
    </div>
</div>


<center><button type="submit" form="config" id="create" value="Create">Create</button></center>
</form>


</body>
</html>
