{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ posted }}</title>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <link href={% static "css/font-awesome.css" %} rel="stylesheet" type="text/css">
    <link href="{% static "css/dropzone.css" %}" type="text/css" rel="stylesheet" />
    <link href={% static "css/main.css" %} rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/dropzone.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</head>
<body>

    <div class="col-md-6">
        <form action="success" class="dropzone" id="fileZone">{% csrf_token %}


        </form>

        <button type="submit" form="fileZone" id="generate" value="Submit">Submit</button>
    </div>

    <div class="checkbox">
        <label for="id_completed">
            <input type="checkbox"> Python 2.7<br>
            <input type="checkbox"> Django 1.10.5<br>
            <input type="checkbox"> Numpy 1.12.0<br>
            <input type="checkbox"> Pandas 0.19.2<br>
            <input type="checkbox"> Matplotlib 2.0.0<br>
            <input type="checkbox"> IPython 5.2.2<br>
            <input type="checkbox"> SciPy 0.18.1<br>
        </label>
    </div>
</body>
</html>
