{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ posted }}</title>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <link href={% static "css/font-awesome.css" %} rel="stylesheet" type="text/css">
    <link href="{% static "css/dropzone.css" %}" type="text/css" rel="stylesheet" />
    <link href={% static "css/main.css" %} rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/dropzone.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</head>
<body>
<form action="generate" id="CheckForm" method="post">{% csrf_token %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="checkbox" style="display: inline";>
                <label><input type="checkbox" name="python27" class="lang" value="python" style="float:inherit"> Python 2.7</label>
            </div>
        </div>
        <div class="panel-body" >
            <div class="checkbox">
                <label><input type="checkbox" name="python27" disabled="true" value="numpy"> Numpy 1.12.0</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python27" disabled="true" value="pandas"> Pandas 0.19.2</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python27" disabled="true" value="matplotlib"> Matplotlib 2.0.0</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python27" disabled="true" value="ipython"> IPython 5.2.2</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python27" disabled="true" value="scipy"> SciPy 0.18.1</label>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
             <div class="checkbox" style="display: inline";>
                <label><input type="checkbox" name="python34" value="python" class="lang" style="float:inherit"> Python 3.4</label>
            </div>
        </div>
        <div class="panel-body" >
            <div class="checkbox">
                <label><input type="checkbox" name="python34" disabled="true" value="numpy"> Numpy 1.12.0</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python34" disabled="true" value="pandas"> Pandas 0.19.2</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python34" disabled="true" value="matplotlib"> Matplotlib 2.0.0</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python34" disabled="true" value="ipython"> IPython 5.2.2</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="python34" disabled="true" value="scipy"> SciPy 0.18.1</label>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="checkbox" style="display: inline";>
            <label><input type="checkbox" name="rcheck" value="r332" class="lang" style="float: inherit"> R 3.3.2</label>
            </div>
        </div>
        <div class="panel-body" >
            <div class="checkbox">
                <label><input type="checkbox" name="rcheck" disabled="true" value="forecast"> Forecast 7.3</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rcheck" disabled="true" value="plyr"> Plyr 1.8.4</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rcheck" disabled="true" value="lubridate"> Lubridate 1.6.0</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rcheck" disabled="true" value="ggplot"> Ggplot2 2.2.1</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rcheck" disabled="true" value="qcc"> Qcc 2.6</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rcheck" disabled="true" value="reshape"> Reshape2 1.4.2</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="rcheck" disabled="true" value="randomforest"> RandomForest 4.6.12</label>
            </div>
        </div>
    </div>
    </form>
</div>


<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Additional installations</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <input type="hidden" name="count" value="1" />
                        <div class="control-group" id="fields">
                            <label class="control-label" for="field1">Git Repository</label>
                            <div class="controls" id="profs"> 
                                <form class="input-append">
                                 <div id="field" ><input autocomplete="off" class="input" id="field1" name="girepo" type="text" placeholder="URL" data-items="8"/><button id="b1" class="btn add-more" type="button">+</button></div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<input type="text" class="form-control" id="gitrepo" name="gitrepo">
            </div>
            <div class="form-group">
                <label for="aptget">apt get</label>
                <input type="text" class="form-control" id="aptget" name="aptget">
            </div>!-->
            </div>
        </div>
    </div>
</div>



<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Additional installations</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="gitrepo">Git Repository URL</label>
                <input type="text" class="form-control" id="gitrepo" name="gitrepo">
            </div>
            <div class="form-group">
                <label for="aptget">apt get</label>
                <input type="text" class="form-control" id="aptget" name="aptget">
            </div>

        </div>
    </div>
</div>

</form>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">Datasets Upload</div>
        <div class="panel-body">
            <form action="success.html" class="dropzone" id="fileZone">{% csrf_token %}


            </form>

            <!--<button type="submit" form="fileZone" id="generate" value="Submit">Submit</button>-->
        </div>
    </div>
</div>

<center><button type="submit" form="CheckForm" id="create" value="Create">Create</button></center>

</body>
</html>
