body{
  margin: 0;
  background: url('../img/bgtile.png') repeat;
}
.input-group{
    margin-bottom: 2px;
}

.dz-clickable {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.addRepo {
  color: green;
}

.removeRepo {
  color: red;
}

i {
  color: white;
}

.big-icon {
  font-size: 20em;
}

#loading {
  margin-top: 10%;
  text-align: center;
}

#loadingIcon {
  font-size: 25em;
  color: #A4A4A4;
}

.dropzone .dz-message {
  font-size: 52px;
  text-align: center;
  color: #A4A4A4;
}
.dropzone .dz-message:before {
  font-family: FontAwesome;
  content: '\f0ee';
  display: block;
  font-size: 4em;
  line-height: 1;
}
.dropzone.dz-started .dz-message {
  display: none;
}
.dropzone .dz-message {
  display: block;
}
.dropzone .dz-default.dz-message {
  background: none;
  position: relative;
  width: auto;
  height: auto;
  margin-left: 0;
  margin-top: 0;
  left: initial;
}
.dropzone .dz-default.dz-message span {
  display: block;
  font-size: 28px;
}
.dropzone .dz-fallback {
  text-align: center;
}
.dropzone .dz-fallback input[type="file"] {
  margin: 0 auto;
  margin-bottom: 10px;
}
.dropzone .dz-preview .dz-remove {
  background: #DB3833;
  color: #fff;
  font-size: 0.9em;
}
.dropzone .dz-preview .dz-remove:before {
  font-family: FontAwesome;
  content: '\f00d';
  margin-right: 3px;
}
.dropzone .dz-preview .dz-remove:hover {
  background: #d02a25;
  color: #fff;
  cursor: pointer;
}
.panel-default > .panel-body{
  background-color: #E2EDE8 !important;
  overflow: auto;
}
.panel-default > .panel-heading {
  background-color: #CCDED8 !important;
  overflow: auto;
}
